{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single", "avoid-escape"]
  },
  "plugins": [
    "react",
    "emotion"
  ]
}
